{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="all-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Forgot Password?</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
			<li class="breadcrumb-item"><a href="{% url 'login' %}">Login</a></li>
                        <li class="breadcrumb-item active">Forgot Password?</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	
	<div class="cart-box-main">
        <div class="container">
            <div class="center">
           
	
		<form class="needs-validation" method="post" action="{% url 'changePasswordAction' %}">
		{% csrf_token %}
			<input type="hidden" name="username" id="username" value="{{username}}"/>
			<div class="mb-3">
                                <label for="password">New Password</label>
                                <input type="password" name="password" class="form-control" style="color:black" id="password" pattern=".{8,}" title="Eight or more Characters" required/>
			   </div>
			<div class="mb-3">
                                <label for="confirm_password">Confirm Password</label>
                                <input type="password" name="confirm_password" class="form-control" style="color:black" id="confirm_password" required/>
			   </div>
			
			<button type="submit" class="btn hvr-hover">Change Password</button>
				
			<hr class="mb-1">
			
		</form>
	       
	    </div>
        </div>
    </div>
	


		<script src="/static/jquery.min.js"></script>
		<script>
		$(document).ready(function(){
			var password=document.getElementById("password");
			var confirm_password=document.getElementById("confirm_password");
			function validatePassword(){
				if(password.value != confirm_password.value){
					confirm_password.setCustomValidity("Passwords Don't Match");
				}
				else{
					confirm_password.setCustomValidity('');
				}
			}
			password.onchange=validatePassword;
			confirm_password.onkeyup=validatePassword;

		});
		
		</script>
		{% if error %}
			<script>
				alert('{{error}}');
			</script>
		{% endif %}
{% endblock %}