{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="all-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Notifications</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item active">Notifications</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	<div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
		{% if data or replies %}
		
		<table class="table">
			{% for v in data %}
			<tr>
				<td>    <span style="font-weight:bold;color:black">Products Have Been Allotted For Your Purchase Request For Month {{v.request_id.month}}</span>
					<br/><br/>{{v.datetime}}
					</br><br/><a href="{% url 'readNoty' nid=v.id tab=1 %}" style="color:white" class="btn hvr-hover">Read</a>
				</td>
				
			</tr>
			{% endfor %}
			{% for r in replies %}
			<tr>
				<td>    <span style="font-weight:bold;color:black">{{r.subject}}</span>
					<br/>{{r.reply}}
					<br/><br/>{{r.date}}
					</br><br/><a href="{% url 'readNoty' nid=r.id tab=2 %}" style="color:white" class="btn hvr-hover">Read</a>
				</td>
				
			</tr>
			{% endfor %}
		</table>
		
			
		
		{% else %}
			</label>Empty</label>
		{% endif %}
		
	</div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}