{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="all-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Forgot Password?</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
			<li class="breadcrumb-item"><a href="{% url 'login' %}">Login</a></li>
                        <li class="breadcrumb-item active">Forgot Password?</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	
	<div class="cart-box-main">
        <div class="container">
            <div class="center"">
           
	
		<form class="needs-validation" method="post" action="{% url 'checkValidOrNot' %}">
		{% csrf_token %}
			<input type="hidden" name="username" id="username" value="{{username}}"/>
			<div class="mb-3">
                                <label for="shop_number">Shop Number</label>
                                <input type="number" name="shop_number" class="form-control" style="color:black" id="shop_number" required/>
			   </div>
			<div class="mb-3">
                                <label for="area">Area</label>
                                <input type="text" name="area" id="area" class="form-control" style="color:black" required/>
			   </div>
			<button type="submit" style="width:100px" class="btn hvr-hover">Submit</button>
				
			<hr class="mb-1">
			
		</form>
	       
	    </div>
        </div>
    </div>


		
				
		<script src="/static/jquery.min.js"></script>
		{% if msg %}
			<script>
				alert('{{msg}}');
			</script>
		{% endif %}
{% endblock %}