{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="all-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Complaints</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item active">Complaints</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	<div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
		{% if msg %}
			<label>{{msg}}</label>
		{% else %}
			<table class="table">
				<thead>
				<tr>
					<th>Username</th>
					<th>Subject</th>
					<th>Date</th>
					<th></th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				{% for v in data %}
				<tr>
					<td>{{v.customer_id.username}}</td>
					<td>{{v.subject}}</td>
					<td>{{v.date}}</td>
					<td><a class="btn hvr-hover" style="color:white" href="{% url 'complaintDetails' v.id %}">Details</a></td>
					<td><a class="btn hvr-hover" style="color:white" href="{% url 'deleteComplaint' v.id %}">Delete</a></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
	      </div>
	   </div>
	 </div>
	</div>
{% endblock %}